#home {
    background-color: #F5F5F5;
    margin-left: 16.66%;
}

body.nav-collapsed #home {
    margin-left: 8.33%;
}

.nav-bar {
    background-color: #142D4C;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.hyder {
    height: 50px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.navbarcontrolicon {
    margin-top: 9px;
    font-size: 20px;
}

.side-menu-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.side-menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.side-menu-item-margin {
    margin-left: 10px;
}

.side-menu-profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
}

.side-menu-profile-big {
    width: 45px !important;
    height: 45px !important;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;

}

.menu-container {
    margin-top: 32px;
}

.side-menu-icon {
    display: flex;
    font-size: 18px;
    color: white;

}

.side-menu-icon-big {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.side-menu-title {
    margin-top: 5px;
    font-family: "NotoKufiArabic";
    color: white;
    font-size: 14px;
}

.logout-item {
    margin-top: 55px;
}

.logout-icon {
    display: flex;
    font-size: 18px;
    color: red;
}

.side-menu-icon-big {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.side-menu-link.active .side-menu-item {
    height: 80%;
    width: 100%;
    background-color: #385170;
    border-radius: 8px;
    transition: 0.3s;
    padding-left: 7px;
    padding-right: 7px;
}