.trainees-header {
    margin-top: 15px;
    margin-bottom: 5px;
    align-items: center;
}

.trainees-title {
    font-size: 18px;
    font-weight: 600;
    color: #142D4C;
    font-family: "NotoKufiArabic";
}

.add-new-btn {
    background-color: #142D4C;
    color: white;
    border: none;
    padding: 5px 18px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "NotoKufiArabic";
}

.add-new-btn:hover {
    background-color: #193b66;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-wrapper {
    margin-top: 20px;
    position: relative;
    width: 55%;
    max-width: 500px;
}

.search-input {
    width: 90%;
    padding: 3px 0px 5px 11px;
    font-size: 22px;
    border-radius: 10px;
    border: 2px solid #142D4C;
    outline: none;
    transition: 0.3s;
}

.search-icon {
    position: absolute;
    top: 55%;
    left: 75%;
    transform: translateY(-50%);
    font-size: 22px;
    color: #142D4C;
}

.search-input:focus {
    border: 1px solid rgb(125, 167, 227);
    box-shadow: 0 0 8px rgba(125, 167, 227, 0.7);
    transform: scale(1.03);
}

.tibol-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.trainees-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
    font-family: "NotoKufiArabic";
    background: white;
    border-radius: 15px;
    overflow: hidden;
    /* مهم علشان يعمل كيرف الهيدر */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
}

/* الهيدر */
.trainees-table thead {
    background-color: #142D4C;
    color: white;
}

.trainees-table th {
    padding: 15px 10px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

/* الصفوف */
.trainees-table td {
    padding: 18px 10px;
    font-size: 15px;
    color: #333;
    text-align: center;
    border-bottom: 1px solid #f3f3f3;
}

/* إزالة الخط من آخر صف */
.trainees-table tbody tr:last-child td {
    border-bottom: none;
}

/* عند الهوفر */
.trainees-table tbody tr:hover {
    background-color: rgba(20, 45, 76, 0.05);
}

/* عمود Actions */
.actions-col {
    width: 60px;
}

/* 3 نقط (آيكون actions) */
.actions-menu {
    font-size: 22px;
    cursor: pointer;
    color: #777;
    transition: 0.2s;
}

.actions-menu:hover {
    color: black;
}

.actions-wrapper {
    position: relative;
    display: inline-block;
}

.actions-menu {
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}

.actions-dropdown {
    position: absolute;
    top: 20px;
    right: 0;
    background: white;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    min-width: 110px;
    display: none;
    z-index: 100;
}

.actions-wrapper:hover .actions-dropdown {
    display: block;
}

.action-item {
    padding: 8px 10px;
    font-size: 13px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
}

.action-item:hover {
    background: #f1f1f1;
}

.action-item.delete {
    color: #c0392b;
}